@import "./base.css";

body {
  background-color: var(--dark-color-bg);
  width: 100%;
  height: 100%;
  color: var(--dark-color-text);
  font-family: "DejaVu Sans", sans-serif;
  scrollbar-color: var(--dark-color-accent) var(--dark-color-fg);
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 32px;
  font-weight: 400;
}

input,
button,
.button {
  padding: 10px;
  border: 1px solid var(--dark-color-border-weak);
  background-color: var(--dark-color-fg);
  color: var(--dark-color-text);
  border-radius: 5px;
  box-sizing: border-box;
}
button,
.button {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
  table-layout: fixed;

  .number,
  .name {
    text-align: left;
  }
  .likes,
  .duration {
    text-align: right;
  }

  .heart,
  .number {
    width: 25px;
  }

  .index {
    width: 30px;
  }

  .duration {
    width: 100px;
  }

  th,
  td {
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
  }
  tr {
    border-bottom: 1px solid var(--dark-color-border-weak);

    &:nth-child(odd) {
      background-color: var(--dark-color-fg);
    }
  }
}
